body {
  margin: 30px;
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

pre {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #333;
  display: block;
  font-family: monospace;
  font-size: 13px;
  line-height: 18px;
  margin: 20px;
  overflow: auto;
  padding: 10px 10px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
