body {
  margin: 30px 30px 60px;
}

header {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

img {
  margin: auto 10px;
}
h3 {
  max-width: 90%;
}
nav {
  margin: 20px 0 10px 0;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}

button:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
}

button > a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

p {
  background-color: #f1f1f1;
  color: #333333;
  padding: 10px 10px;
  max-width: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

p > span {
  background-color: #bc48c0;
  color: #ffffff;
  padding: 5px;
  margin-left: 10px;
  margin-right: -5px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.normal {
  background-color: #f1f1f1;
  color: #333333;
  display: block;
  font-family: monospace;
  font-size: 14px;
  line-height: 18px;
  overflow: auto;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.highlight {
  background-color: lightyellow;
  border: 2px solid red;
  display: block;
  font-family: monospace;
  font-size: 14px;
  line-height: 18px;
  overflow: auto;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.1s;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
}

footer {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 0;
  right: 0;
}

.env {
  float: left;
  margin: 0 10px;
  color: yellow;
}

.me {
  float: right;
  margin: 0 10px;
  color: cyan;
}
