body {
  margin: 30px 30px 60px;
}

header {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

img {
  margin: auto 10px;
}

h3 {
  width: 90%;
}

nav {
  margin: 20px 0;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

p {
  background-color: #f1f1f1;
  color: #333333;
  padding: 10px;
  max-width: max-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

pre {
  color: #333333;
  display: block;
  font-family: monospace;
  font-size: 14px;
  line-height: 18px;
  overflow: auto;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
}

footer {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
  right: 0;
}
