body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  background-color: #9d2b2b;
}

.title {
  padding: 2px 20px;
  background-color: darkblue;
}

.desc {
  padding: 0 20px;
}

.github-badges {
  margin: auto 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.n-item {
  flex-grow: 1;
  flex-basis: 125px;
}

.button,
.refund-btn {
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: 125px;
  height: 50px;
  background-color: #4caf50;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 5px 15px;
  transition:
    width 0.5s,
    border-radius 0.5s;
}

.button:hover {
  background-color: orangered;
}

.button * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s;
}

.icon {
  color: #ffff00;
  font-size: 25px;
  font-weight: 700;
  opacity: 0;
}

.text {
  color: #ffffff;
  font-size: 16px;
}

.button[disabled] {
  width: 50px;
  background-color: #707771;
  border-radius: 50%;
  cursor: not-allowed;
  pointer-events: none;
  flex: none;
}

.button[disabled] .text {
  opacity: 0;
}

.button[disabled] .icon {
  opacity: 1;
  transition-delay: 0.5s;
}

main {
  margin: 0 30px 90px;
}

p,
.coupon {
  background-color: #9d2b2b;
  color: #ffffff;
  padding: 10px 10px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.coupon {
  margin-top: 20px;
  border-radius: 10px;
}

.couponField {
  width: 64%;
  border: 1px solid #9d2b2b;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  margin-left: 5px;
}

p > span {
  background-color: #619408;
  color: #ffff00;
  padding: 5px;
  margin-left: 10px;
  margin-right: -5px;
  border: none;
  border-radius: 5px;
}

.revert {
  all: revert;
}

.alert {
  background-color: #ffff00;
  color: #9d2b2b;
  padding: 5px;
  margin-left: 10px;
  margin-right: -5px;
  border: none;
  border-radius: 5px;
}

.normal {
  background-color: #f1f1f1;
  color: #333333;
  display: block;
  margin: 0;
  font-family: monospace;
  font-size: 14px;
  line-height: 18px;
  overflow: auto;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  transition: all 0.1s;
}

.highlight {
  border: 3px solid #9d2b2b;
  border-radius: 0 10px 10px 10px;
  background-color: lightyellow;
  color: #333333;
  display: block;
  margin: 0;
  font-family: monospace;
  font-size: 14px;
  line-height: 18px;
  overflow: auto;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  transition: all 0.1s;
}

.denied {
  border: 3px solid #9d2b2b;
  border-radius: 0 10px 10px 10px;
  background-color: red;
  color: yellow;
  display: block;
  margin: 0;
  font-family: monospace;
  font-size: 14px;
  line-height: 18px;
  overflow: auto;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  transition: all 0.1s;
}

.blocked {
  border: 3px solid red;
}

pre {
  margin: 0 0 20px !important;
}

.pre {
  margin: 0 0 20px !important;
  padding-left: 25%;
}

footer {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
}

.env {
  margin-bottom: 5px;
  display: block;
  color: cyan;
}

.me {
  display: inline-block;
  color: orange;
}

.prop {
  color: #fff700;
}

.playing::after {
  content: " playing";
}

.searchModal,
.formModal,
.ecommerceModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition:
    visibility 0s linear 0.25s,
    opacity 0.25s 0s,
    transform 0.25s;
}

.search-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 4rem 2rem;
  width: 25rem;
  border-radius: 0.5rem;
}

.form-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 4rem 2rem;
  width: 25rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.ecommerce-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 2rem 2rem;
  width: 50rem;
  height: fit-content;
  border-radius: 0.5rem;
}

.search-wrap,
.ty-message-wrap {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-wrap {
  width: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label > span {
  color: red;
}

.form-wrap,
.add-to-cart-wrap {
  display: block;
}

.ty-message-wrap,
.view-cart-wrap,
.checkout1-wrap,
.checkout2-wrap,
.checkout3-wrap,
.summary-wrap,
.purchase-wrap,
.refund-wrap,
.step-7 {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.inactive {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.ghost {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition:
    visibility 0s linear 0.25s,
    opacity 0.25s 0s,
    transform 0.25s;
}

.close-x {
  float: right;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background-color: lightgray;
  display: flex;
  position: relative;
  top: -50px;
  left: 10px;
}

.close-x:hover {
  background-color: #fff700;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition:
    visibility 0s linear 0s,
    opacity 0.25s 0s,
    transform 0.25s;
}

.searchBar {
  width: 100%;
  position: relative;
  display: flex;
}

.searchInput {
  width: 100%;
  border: 3px solid #9d2b2b;
  border-right: none;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.formInput {
  width: 100%;
  border: 3px solid #9d2b2b;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin: 5px 10px 10px -5px;
}

.searchInput:focus,
.formInput:focus {
  color: #9d2b2b;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #9d2b2b;
  background: #9d2b2b;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.form-btn {
  left: 32%;
  margin: 15px 0;
  width: 140px;
}

.ecommerce-btn,
.ecommerce-btn2,
.ecommerce-btn3,
.ecommerce-btn4 {
  left: 60%;
  margin: 20px 0 0;
  width: 20rem;
}

.ecommerce-btn2 {
  bottom: 50px;
  display: flex;
  margin-top: 0;
}

.ecommerce-btn3 {
  left: 45%;
  width: 13rem;
}

.ecommerce-btn4 {
  left: 73%;
  width: 13rem;
  margin-top: 30px;
}

.refund-btn {
  left: 2%;
  top: -18px;
  width: 13rem;
  background-color: #ffffff;
  border: 2px solid #4caf50;
}

.refund-btn > .text {
  color: #4caf50;
}

.refund-btn:hover {
  background-color: #444444;
  border: 2px solid #444444;
}

.refund-btn:hover > .text {
  color: #ffffff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #fff;
  background-color: #9d2b2b;
}

td,
th {
  border: 1px solid #9d2b2b;
  text-align: left;
  padding: 8px;
}

caption {
  font-size: 20px;
  font-weight: bold;
  color: #9d2b2b;
  padding: 20px 0 10px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  color: #9d2b2b;
}

.empty-cart {
  color: #9d2b2b;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}

.qty {
  width: 35px;
  height: 20px;
  border: 1px solid #9d2b2b;
  border-radius: 5px;
  text-align: center;
  color: #9d2b2b;
  margin: 0 5px;
  pointer-events: none;
}

.shipp {
  width: fit-content;
  display: inline-block;
  margin-left: 10px;
}

.shipp > .formInput {
  font-size: small;
  margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin: 0;
}

.cclogo {
  border: 1px solid #9d2b2b;
  padding: 10px;
  display: flex;
  width: fit-content;
  border-radius: 5px;
  margin: 10px 0;
}

.cclogo > img {
  float: left;
  width: 100px;
  object-fit: cover;
}

.customer,
.customer2,
.brand {
  display: flex;
  justify-content: space-around;
}

.brand {
  justify-content: space-between;
}

.customer2 {
  justify-content: normal;
  margin-top: -10px;
}

.brand > .cclogo > img {
  width: 50px;
}

.info {
  border: 1px solid #9d2b2b;
  border-radius: 10px;
  padding: 0 15px;
  width: 90%;
}

.expcvv {
  display: flex;
  justify-content: space-between;
}

.exp,
.cvv {
  width: 50%;
}

.cvv {
  margin: 0 -40px 0 0;
}

.exp > .formInput,
.cvv > .formInput {
  display: block;
  width: 87%;
}

.products {
  margin-top: 20px;
}

.payment {
  width: 34%;
}

.result {
  color: red;
  font-style: italic;
  display: block;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #9d2b2b;
  color: #ffffff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #fcfcfc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.cookie-consent-banner {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 85px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.text-consent-banner {
  text-align: center;
  background-color: #a1eb7efa;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 27%;
  border-radius: 20px;
  h2 {
    margin-left: 50px;
  }
  span {
    display: block;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

.cookie-consent-button {
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cookie-consent-button:hover {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.cookie-consent-button:active {
  opacity: 0.5;
}

.cookie-consent-button.btn-success {
  background-color: #34a853;
  color: #e6f4ea;
}

.cookie-consent-button.btn-grayscale {
  background-color: #dfe1e5;
  color: black;
}

.cookie-consent-button.btn-outline {
  background-color: #e6f4ea;
  color: #08962e;
}

.cookie-consent-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cookie-consent-options label {
  margin: 0 10px;
  font-size: 20px;
}

.cookie-consent-options input {
  margin-right: 5px;
}

.consent-close-x {
  top: -25px;
  left: -25px;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}

.warningbar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .bar {
    min-height: 25px;
    border-radius: 10px;
    width: calc(113px * 8);
    @media only screen and (max-width: 450px) {
      width: calc(113px * 3);
    }
    @media only screen and (max-width: 350px) {
      width: calc(113px * 2);
    }
    box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
    background-color: #2c3e50;
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 40px,
      #f1c40f 40px,
      #f1c40f 80px
    );

    animation: slide 4s linear infinite;
    will-change: background-position;
  }
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  #iframe-child1 {
    height: 300px;
    width: 600px;
    border: none;
    margin: 20px;
  }
  #iframe-child2 {
    height: 450px;
    width: 600px;
    border: none;
    margin: 20px;
  }
}

aside {
  width: 24%;
  height: 87vh;
  position: fixed;
  left: 15px;
  font-style: italic;
  background-color: #f1f1f1;
}

.form-steps {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-steps:after {
  content: "";
  display: table;
  clear: both;
}

.form-steps__item {
  padding: 0;
  position: relative;
  display: block;
  float: left;
  width: 17%;
  text-align: center;
}

.form-steps__item-content {
  display: inline-block;
}

.form-steps__item-icon {
  background: lightgray;
  color: lightslategray;
  display: block;
  border-radius: 100%;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto 10px auto;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  z-index: 2;
  border: 5px solid;
}

.form-steps__item-text {
  font-size: 13px;
  color: lightslategray;
  font-weight: 500;
}

.form-steps__item-line {
  display: block;
  height: 3px;
  width: 100%;
  background: lightgray;
  float: left;
  position: absolute;
  left: -50%;
  top: 20px;
  z-index: 1;
  border: 5px solid lightslategray;
}

.form-steps__item--active .form-steps__item-icon {
  background: green;
  color: white;
  border-color: mediumseagreen;
}

.form-steps__item--active .form-steps__item-text {
  color: red;
  font-weight: 800;
  font-size: medium;
}

.form-steps__item--active .form-steps__item-line,
.form-steps__item--completed .form-steps__item-line {
  background: green;
  border: 5px solid mediumseagreen;
}

.form-steps__item--completed .form-steps__item-text {
  color: #4f5e77;
}

.form-steps__item--completed .form-steps__item-icon {
  background: green;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDkuMTIgNyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuMTIgMS4wNkw4LjA2IDAgMy4xOCA0Ljg4IDEuMDYgMi43NiAwIDMuODIgMy4xOCA3bDUuOTQtNS45NHoiLz48L3N2Zz4=);
  color: transparent;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 5px solid mediumseagreen;
}

.form-steps__item--refunded .form-steps__item-line {
  background: darkred;
  border: 5px solid red;
}

.form-steps__item--refunded .form-steps__item-icon {
  background: darkred;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci14Ij4KICA8bGluZSB4MT0iMTgiIHkxPSI2IiB4Mj0iNiIgeTI9IjE4Ij48L2xpbmU+CiAgPGxpbmUgeDE9IjYiIHkxPSI2IiB4Mj0iMTgiIHkyPSIxOCI+PC9saW5lPgo8L3N2Zz4=);
  color: transparent;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 5px solid red;
}

@media only screen and (max-width: 767px) {
  .form-steps__item-icon,
  .form-steps__item--completed .form-steps__item-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .form-steps__item-line {
    top: 15px;
  }
}

.form-steps__item-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  width: 5px;
  height: 3px;
  background: lightgrey;
}

.form-steps__item-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: 5px;
  height: 3px;
  background: lightgrey;
}

.form-steps__item--active .form-steps__item-icon:before,
.form-steps__item--completed .form-steps__item-icon:after,
.form-steps__item--completed .form-steps__item-icon:before {
  background: green;
}

.form-steps__item:last-child .form-steps__item-icon:after {
  background: lightslategray;
}

.form-steps__item--active .form-steps__item-icon:after,
.form-steps__item:last-child.form-steps__item--active
  .form-steps__item-icon:after,
.form-steps__item:first-child.form-steps__item--active
  .form-steps__item-icon:before,
.form-steps__item:first-child.form-steps__item--completed
  .form-steps__item-icon:before {
  background: mediumseagreen;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .github-badges {
    display: inline-block;
    margin: auto 0;
  }
  .flex {
    flex-wrap: wrap;
    margin: 15px 10px 0;
  }
  .button {
    margin: 0 auto 10px;
  }
  main {
    margin: 0 10px 65px;
    font-size: 90%;
  }
  footer {
    font-size: 10px;
  }
  .container {
    display: flex;
  }
  .ecommerce-modal-content {
    width: 80%;
  }
  .ecommerce-btn {
    left: 88%;
    margin: 20px 0 0 -40%;
  }
  .ecommerce-btn2 {
    left: 88%;
    margin: 1px 0 0 -40%;
  }

  .cookie-consent-banner {
    padding-top: 50px;
  }

  .text-consent-banner {
    width: 70%;
  }

  .consent-close-x {
    left: -15px;
  }
}

.github-banner a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}

.github-banner a:hover {
  background: #4caf50;
  color: #ffffff;
}

.github-banner a::before,
.github-banner a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #ffffff;
}

.github-banner a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width: 800px) {
  .github-banner {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 10px;
    width: 100px;
    overflow: hidden;
    height: 100px;
    z-index: 9999;
  }

  .github-banner a {
    width: 100px;
    position: absolute;
    top: 15px;
    right: -55px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}
